<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'privacy_policy.css' %}">
  <title>Privacy Policy</title>
</head>
<body>
  <div class="container">
    <h1>Privacy Policy</h1>
    <p>Calenderly is committed to protecting the privacy of its users. We collect personal data such as name, email address, and location data to provide a better user experience. We use this information to display upcoming events and send reminders to users. We store user data securely and do not share it with third parties. User data is deleted after 30 days of inactivity.</p>

    <p>We use Google Analytics to collect usage data and improve our app. Google Analytics may collect additional user data such as IP address and device information. You can view Google's privacy policy at <a href='https://policies.google.com/privacy?hl=en-US'>Google's privacy policy</a>.</p>

    <p>Calenderly uses cookies to personalize content and improve the user experience. By using our app, you consent to the use of cookies.</p>

    <p>If you have any questions or concerns about our privacy policy, please contact us.</p>
  </div>
</body>
</html>
